h2 {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    color: darkred;
    text-align: center;
}

.square {
    height: 200px;
    width: 200px;
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(136, 174, 136);
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Times New Roman';
}